
            <!--<img class="wave" src="img/fondo-triangulos.png" alt="">-->
            <div class="container">
                <div class="img">
                    <img src="assets/img/undraw_product_teardown_elol.png" alt="">
                </div>
                <div class="login-container">
                    <form action="login.html">
                        <img class="avatar" src="assets/img/habilidades_dig.png" alt="">
                        <h2>INICIAR SESION</h2>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div>
                                <h5>Usuario</h5>
                                <input type="text" class="input">
                            </div>
                        </div>
                        <div class="input-div two">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div>
                                <h5>Contraseña</h5>
                                <input type="password" class="input">
                            </div>
                        </div>
                        <a href="#">Recordar contraseña</a>
                        <input type="submit" class="btn" value="Iniciar">
                        <a href="#" class="reg">Registrate aquí</a>
                        <div class="flex-c-m ">
                            <a href="# " class="login-container len social1 "><i class="fab fa-facebook-square " ></i></a>
                            <a href="# " class="login-container len social2 "><i class="fab fa-twitter-square "></i></a>
                            <a href="# " class="login-container len social3 "><i class="fab fa-google-plus-square "></i></a>
                        </div>

                    </form>
                </div>
            </div>
           
      
