<div class="container" style="text-align: center;">
    <div style="text-align: center;">
        <form action="">
            <img class="avatar" src="assets/img/logo.png" alt="">
            <h2>Formularo de registro</h2>

            <div class="form-row">
                <div class="col col-md-6 input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <input type="text" class="input" placeholder="Nombres">
                    </div>
                </div>
                
                <div class="col col-md-6 input-div">
                    <div class=" i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <input type="text" class="input" placeholder="Apellidos">
                    </div>
                </div>
                <div class="col col-md-6 input-div">
                    <div class="i">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div>
                        <input type="text" class="input" placeholder="Telefono">
                    </div>
                </div> 
                <div class="col col-md-6 input-div">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div>
                        <input type="text" class="input" placeholder="Correo electronico">
                    </div>
                </div> 
                <div class="col col-md-6 input-div">
                    <div class="i">
                        <i class="fas fa-at"></i>
                    </div>
                    <div>
                        <input type="text" class="input " placeholder="Usuario">
                    </div>
                </div>
                <div class="col col-md-6 input-div">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <input type="password" class="input" placeholder="Contraseña">
                    </div>
                </div>    
            </div>
            <input type="submit" class="btn" value="Iniciar">
        </form>
    </div>
    
</div>